@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.animation-delay-200 {
		animation-delay: 0.2s;
	}
	.animation-delay-400 {
		animation-delay: 0.4s;
	}
}



.markdown * {
	font-size: 16px;
}

#my-assistant-wrapper img {
	max-width: 600px;
}
